.pad_l0 .col-xs-1, .pad_l0 .col-sm-1, .pad_l0 .col-md-1, .pad_l0 .col-lg-1, .pad_l0 .col-xs-2, .pad_l0 .col-sm-2, .pad_l0 .col-md-2, .pad_l0 .col-lg-2, .pad_l0 .col-xs-3, .pad_l0 .col-sm-3, .pad_l0 .col-md-3, .pad_l0 .col-lg-3, .pad_l0 .col-xs-4, .pad_l0 .col-sm-4, .pad_l0 .col-md-4, .pad_l0 .col-lg-4, .pad_l0 .col-xs-5, .pad_l0 .col-sm-5, .pad_l0 .col-md-5, .pad_l0 .col-lg-5, .pad_l0 .col-xs-6, .pad_l0 .col-sm-6, .pad_l0 .col-md-6, .pad_l0 .col-lg-6, .pad_l0 .col-xs-7, .pad_l0 .col-sm-7, .pad_l0 .col-md-7, .pad_l0 .col-lg-7, .pad_l0 .col-xs-8, .pad_l0 .col-sm-8, .pad_l0 .col-md-8, .pad_l0 .col-lg-8, .pad_l0 .col-xs-9, .pad_l0 .col-sm-9, .pad_l0 .col-md-9, .pad_l0 .col-lg-9, .pad_l0 .col-xs-10, .pad_l0 .col-sm-10, .pad_l0 .col-md-10, .pad_l0 .col-lg-10, .pad_l0 .col-xs-11, .pad_l0 .col-sm-11, .pad_l0 .col-md-11, .pad_l0 .col-lg-11, .pad_l0 .col-xs-12, .pad_l0 .col-sm-12, .pad_l0 .col-md-12, .pad_l0 .col-lg-12  { padding-left:0px; padding-right:15px;}
.choice {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 6px;
    border-top: 4px solid #EAE9E6;
    bottom: 0px;
	
    color: #CCCCCC;
    height: auto;
    left: -60px; 
    margin: 0 auto;
    max-width: 205px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 99999;
}
.choice.f {
    left: 330px; 
  
}
.choice.g {
    left: -260px; bottom:-10px; 
}
.choice.l {
    left: 270px; bottom:-10px;  height:270px;
  
}
.choice.amt.l {
    left: -120px; bottom:0px;  height:200px;
  
}
.choice.self.l {
    left: 330px; bottom:0px;  height:200px;
  
}
.choice.cit.l {
    left: 330px; bottom:0px;  height:200px;
  
}

.choice .choice-leftcol {
    border-bottom: 4px solid #EAE9E6;
    border-left: 4px solid #EAE9E6;
    border-right: 4px solid #EAE9E6;
    float: left;
    height: auto;
    position: relative;
    width: 100%;
}
.choice.l .choice-leftcol {
    border-bottom: 4px solid #EAE9E6;
    border-left: 4px solid #EAE9E6;
    border-right: 4px solid #EAE9E6;
    float: left;
    height: 262px;
    position: relative;
    width: 100%;
}
.choice.amt.l .choice-leftcol,.choice.self.l .choice-leftcol,.choice.cit.l .choice-leftcol   {
    height: 195px;
}

.choice a {
	color:#dfdfdf;
	cursor:default
}
.choice a:hover {
	  text-decoration:none;
}
.choice.l a,.choice.f a {
	color:#dfdfdf; font-size:15px;
	cursor:default
}
.choice a.picked {
	color:#60c6e7
}
.choice .active {
	border-radius:4px 4px 0 0;
	background:#fff
}
.choice .active a {
	color:#727272;
	cursor:pointer
}
.choice .active a:hover {
	color:#60c6e7
}
.choice .active-picked {
	border-radius:0;
	background:#FFFFFF
}
.choice .active-picked a {
	color:#ddd
}
.choice .active-picked a.picked {
	color:#60c6e7
}

@media screen and (max-width: 585px) and (min-width: 541px) {
.choice .choice-leftcol {
width:35% !important
}
}
.choice .years {
	list-style:none;
	margin:0;
	padding:18px 0px 48px 0px;
	float:left;
	width:100%;
	font-size:24px;
	background:#fff;
	height:auto;
	position:relative;
	-webkit-animation-delay:3s;
	-moz-animation-delay:3s;
	-ms-animation-delay:3s;
	-o-animation-delay:3s;
	animation-delay:3s;
	overflow-y:hidden;
	-webkit-overflow-scrolling:touch
}
.choice.l .years {
	list-style:none;
	margin:0;
	padding:0px 10px 48px 10px;
	float:left;
	width:100%;
	font-size:24px;
	background:#fff;
	height:155px;
	position:relative;
	-webkit-animation-delay:3s;
	-moz-animation-delay:3s;
	-ms-animation-delay:3s;
	-o-animation-delay:3s;
	animation-delay:3s;
	overflow-y:scroll;
	-webkit-overflow-scrolling:touch
}

.choice.f .years {
	list-style:none;
	margin:0;
	padding:0px 0px 48px 0px;
}
.choice .years.active-picked {
	height:240px
}
.choice .years.active-picked .jspVerticalBar {
	display:none
}
.choice .years li {
	margin-bottom:0.5px;
	text-align:center
}


@media screen and (max-width: 585px) and (min-width: 541px) {}

.stepwrap {
	width:100%;
	float:right;
	height:42px
}
.stepwrap.years-stepwrap {
	bottom:-4px;
	float:left;
	left:-4px;
	position:absolute;
	right:-4px;
	width:auto
}
.step {
	background:none repeat scroll 0 0 #2daee4;
	color:#FFFFFF;
	display:none;
	font-size:15px;
	height:42px;
	line-height:42px;
	padding:0 5px 0 15px;
	text-align:left;
	width:100%;
	position:relative;
	-webkit-border-radius:0 0 0px 4px;
	-moz-border-radius:0 0 0px 4px;
	-ms-border-radius:0 0 0px 4px;
	-o-border-radius:0 0 0px 4px;
	border-radius:0 0 0px 4px
}
.step em {
	font-style:normal;
	display:inline-block;
	background:#f26522;
	border-radius:100px;
	width:24px;
	height:24px;
	margin:0 13px 0 0;
	line-height:26px;
	font-size:16px;
	font-weight:500;
	text-align:center
}


/**/
/* datepicker */
/**/
.ui-datepicker {
	width:18em;
	margin-top:14px;
	display:none;
	background:#fff;
	position:relative;
	font:14px/1.55 "Roboto", Arial, Helvetica, sans-serif;
	-webkit-box-shadow:0 0 4px rgba(0, 0, 0, .3);
	-moz-box-shadow:0 0 4px rgba(0, 0, 0, .3);
	-o-box-shadow:0 0 4px rgba(0, 0, 0, .3);
	box-shadow:0 0 4px rgba(0, 0, 0, .3);
	border:5px solid #2ca3ef;
	z-index:9999 !important;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	text-align:center;
	color:#666
}
.ui-datepicker:before {
	content:"";
	bottom:auto;
	border:solid;
	border-width:16px 16px 16px;
	border-color:transparent transparent #2ca3ef transparent;
	border-color:rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #2ca3ef rgba(255, 255, 255, 0);
	position:absolute;
	margin-left:-10px;
	display:block;
	top:-32px;
	left:10%;
	height:0;
	width:0
}
.ui-datepicker a {
	color:#404040;
	text-align:center
}
.ui-datepicker .ui-state-disabled span {
	color:#d9dde5
}
.ui-timepicker-div .ui-widget-header, .ui-datepicker .ui-datepicker-header {
	position:relative;
	background:#2ca3ef;
	line-height:27px;
	font-size:15px;
	padding:10px
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
	width:34px;
	height:34px;
	display:block;
	font-size:14px;
	position:absolute;
	text-decoration:none;
	cursor:pointer;
	color:#fff;
	top:19.5%
}
.ui-datepicker .ui-datepicker-prev {
	left:2px
}
.ui-datepicker .ui-datepicker-next {
	right:2px
}
.ui-datepicker .ui-datepicker-title {
	margin:0 2.3em;
	line-height:1.8em;
	text-align:center;
	
}
.ui-datepicker .ui-datepicker-title select {
	font-size:1em;
	margin:1px 0
}
.ui-datepicker select.ui-datepicker-month-year {
	width:100%
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
	width:49%
}
.ui-datepicker table {
	width:100%;
	font-size:.9em;
	margin:0 0 .4em;
	border-collapse:collapse
}
.ui-datepicker th {
	padding:.5em .3em;
	text-align:center;
	font-weight:bold;
	border:0
}
.ui-datepicker td {
	border:0;
	padding:2px 5px
}
.ui-datepicker td span, .ui-datepicker td a {
	padding:.25em;
	display:block;
	text-align:center;
	text-decoration:none;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px
}
.ui-datepicker td span:hover, .ui-datepicker td a:hover {
	background:#d7dcde
}
.ui-datepicker .ui-state-disabled span:hover {
	background:0
}
.ui-datepicker-today a, .ui-datepicker-today a:hover, .ui-datepicker .ui-state-highlight {
	font-weight:700;
	background:#2ca3ef !important;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	color:#fff
}
.cal-widget .ui-datepicker {
	width:100%;
	margin-top:0
}
.cal-widget .ui-datepicker:before {
	display:none
}
.ui-datepicker.ui-datepicker-multi {
	width:auto
}
.ui-datepicker-multi .ui-datepicker-group {
	float:left
}
.ui-datepicker-multi .ui-datepicker-group table {
	width:95%;
	margin:0 auto .4em
}
.ui-datepicker-multi-2 .ui-datepicker-group {
	width:50%
}
.ui-datepicker-multi-3 .ui-datepicker-group {
	width:33.333%
}
.ui-datepicker-multi-4 .ui-datepicker-group {
	width:25%
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header, .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width:0
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear:left
}
.ui-datepicker-row-break {
	clear:both;
	width:100%;
	font-size:0
}
.ui-datepicker-buttonpane {
	border-top:1px solid #d9dde5;
	padding:10px
}
.ui-datepicker-buttonpane button {
	padding:8px 12px;
	margin-right:.2em;
	position:relative;
	line-height:normal;
	display:inline-block;
	-webkit-user-drag:none;
	text-shadow:0 1px rgba(255, 255, 255, 0.2);
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	vertical-align:middle;
	background:#bdc3c7;
	text-align:center;
	overflow:visible;
	cursor:pointer;
	color:#243140;
	border:0
}
.ui-datepicker-buttonpane button:hover {
	color:#243140;
	background:#cacfd2
}
.ui-datepicker-buttonpane button:active {
	color:#1d2938;
	background:#a1a6a9
}
.ui-monthpicker .ui-datepicker-header {
	margin-bottom:3px
}


/**/
/* datepicker */
/**/
.car-ins .input, .car-ins .select, .car-ins .textarea, .car-ins .radio, .car-ins .checkbox, .car-ins .toggle, .car-ins .button {
    display: block;
    position: relative;
}





.car-ins .icon-append, .car-ins .icon-prepend {
    color: #8ec8ee;
}
.car-ins .input input, .car-ins .select select, .car-ins .textarea textarea, .car-ins .radio i, .car-ins .checkbox i, .car-ins .toggle i, .car-ins .icon-append, .car-ins .icon-prepend {
    
}
.car-ins .icon-append {
    border-left-style: solid;
    border-left-width: 1px;
    padding-left: 3px;
    right: 5px;
}
.car-ins .icon-append, .car-ins .icon-prepend {
    font-size: 15px;
    height: 22px;
    line-height: 22px;
    position: absolute;
    text-align: center;
    top: 6px;
    width: 29px;
}

.car-ins .input .icon-append + input, .car-ins .textarea .icon-append + textarea {
    padding-right: 46px;
}

.car-ins .input input, .car-ins .select select, .car-ins .textarea textarea {
  font-weight: normal;
}
 label {
    display: block;
    position: relative;
}
.load_spin{ display: none;
    left: 128px;
    position: absolute;
    top: 5px;}