body {
	color: #333;
	font-size: 14px;
	line-height:inherit;
}
*, *:after, *:before {
	box-sizing:content-box;
}
*, *:after, *:before {
	box-sizing: content-box;
}
article#main_container {
	float:left;
	width:100%;
	padding-left:15px;
	border-top:1px solid #f8f8f8;
	background:url(../images/content_grad.gif) repeat-x 0 0;
	padding-bottom:10px;
	margin-top:150px;padding-left: 35px;
}
article#main_container #inner_container {
	margin:0 auto;
}
#main_container p {
	margin:0;
}
/******Pricing Page Css Starts******/
article#banner_pricing {
	float:left;
	width:100%;
	height:292px;
}
#banner_pricing .left_sec {
	float:left;
	width:640px;
}
#banner_pricing h2.pricing {
	float:left;
	width:100%;
	font-size:26px;
	color:#fff;
	padding:30px 0 10px 0;
	line-height:42px;
}
#banner_pricing p {
	float:left;
	width:100%;
	font-size:16px;
	line-height:20px;
	color:#fff;
	padding:0 0 20px 0;
}
#banner_pricing .img_sec {
	float:left;
	width:100%;
}
#banner_pricing .img_sec img {
	float:left
}
#banner_pricing .img_sec .img1 {
	padding:45px 0 0 28px
}
#banner_pricing .five_reason_sec {
	float:right;
	width:309px;
	padding:5px 0 14px 16px;
	border:1px solid #bd4f26;
	margin-top:36px;
}
#banner_pricing .five_reason_sec h3 {
	float:left;
	width:100%;
	font-size:20px;
	line-height:34px;
	color:#fff;
}
#banner_pricing .five_reason_sec ul {
	float:left;
	width:100%
}
#banner_pricing .five_reason_sec ul li {
	float:left;
	width:100%;
	font-size:13px;
	line-height:28px;
	color:#fff;
}
#banner_pricing .five_reason_sec ul li span {
	float:left;
	width:24px;
	height:15px;
	margin-top:7px;
}
#banner_pricing .five_reason_sec ul li span.one {
	background:url(../images/icons.png) no-repeat 0 -78px;
}
#banner_pricing .five_reason_sec ul li span.two {
	background:url(../images/icons.png) no-repeat 0 -107px;
}
#banner_pricing .five_reason_sec ul li span.three {
	background:url(../images/icons.png) no-repeat 0 -135px;
}
#banner_pricing .five_reason_sec ul li span.four {
	background:url(../images/icons.png) no-repeat 0 -162px;
}
#banner_pricing .five_reason_sec ul li span.five {
	background:url(../images/icons.png) no-repeat 0 -191px;
}
.pricing_box_outer {
	float:left;
	width:100%;
	padding:0;
}
.pricing_box_outer .col1 {
	width:320px;
	background:#cfcfcf;
	float:left
}
.pricing_box_outer .col1 .head {
	float:left;
	height:99px;
	width:100%;
	background:#d6d6d6;
}
.pricing_box_outer .col1 h2 {
	float:left;
	width:auto;
	padding:0 20px 0 12px;
	line-height:25px;
	font-size:20px;
	color:#404040;
	text-transform:uppercase;
	text-align:left;
	background:url(../images/pricing/small_icons.png) no-repeat right 7px;
	margin-top:37px;
}
.pricing_box_outer .col1 p {
	width:308px;
	text-align:left;
	float:left;
	padding:8px 0 8px 12px;
	min-height:30px;
	height:100%;
	line-height:30px;
}
.pricing_box_outer .col1 p a {
	color:#000;
	font-size:12px;
	float:left;
	text-decoration:none;
	background:url(../images/pricing/qustion_mark.png) no-repeat right 10px;
	padding-right:20px;
}
.pricing_box_outer .col1 p a:hover {
	text-decoration:underline;
	color:#000;
	font-size:12px;
	font-weight:normal
}
.pricing_box_outer .col1 p.last {
	width:100%;
	float:left;
	height:43px;
	background:#ececec;
	padding:0;
}
.pricing_box_outer .col1 p.light {
	background:#e9e7e7;
}
.pricing_box_outer .bot_curve {
	width:100%;
	float:left;
	background:url(../images/pricing/pricing_top.jpg) no-repeat 0 bottom;
	height:5px;
	line-height:1px;
	font-size:1px;
}
.pricing_box {
	float:left;
	width:272px; margin-left:5px;
}
.pricing_box .bot_curve {
	width:100%;
	float:left;
	background:url(../images/pricing/pricing_top.jpg) no-repeat -263px bottom;
	height:5px;
	line-height:1px;
	font-size:1px
}
.pricing_box .price {
	width:272px;
	background:#fea501;
	float:left;
	height:99px;
	color:#fff;
	text-align:center;
	position:relative
}
.pricing_box .price .best_seller {
	background:url(../images/pricing/best_seller.png) no-repeat 0 0;
	width:66px;
	height:66px;
	position:absolute;
	top:0;
	left:0;
}
.pricing_box .price .best_value {
	background:url(../images/pricing/best_value.png) no-repeat 0 0;
	width:66px;
	height:66px;
	position:absolute;
	top:0;
	left:0;
}
.pricing_box .price sup {
	font-size:20px;
	line-height:20px;
	position:absolute;
	right:-7px;
	top:7px;
}
.pricing_box .price span {
	border-radius: 10px 10px 0 0;
	color: #000;
	float: left;
	font-size: 12px;
	height: 111px;
	left: 0;
	line-height: 155px;
	position: absolute;
	top: -111px;
	width: 270px;
}
.pricing_box .price span.classic {
	background: none repeat scroll 0 0 #057001;
}
.pricing_box .price span.preferred { /*background:#057001;*/
	background:#fff;
	border:1px solid #0c8900;
}
.preferred p {
	background:#acd373;
}
.pricing_box .price span.business {
	background: #fff; border:1px solid #c44f00;
}
.pricing_box .price span.exclusive {
	/*background:#b00203;*/background: #fff; border:1px solid #b00203;
}
.pricing_box .price div.price_inner {
	float:left;
	width:66px;
	white-space:nowrap;
	position:relative;
	color:#fff;
	text-align:center;
	margin:22px 0 0;
}
/*Limited period offer create 30/11/2011 start here*/
.pricing_box .price div.price_inner01 {
	float:left;
	width:66px;
	white-space:nowrap;
	position:relative;
	color:#fff;
	text-align:center;
	margin:22px 0 0 42px;
}
.pricing_box .price div.price_inner01 p {
	float:left;
	font-size:70px;
	line-height:70px;
	color:#fff;
	position:relative;
}
.limited_period {
	position:absolute;
	width:56px;
	height:111px;
	right:-36px;
	top:-57px;
}
/*Limited period offer 30/11/2011 ends here*/
.pricing_box .price div.price_inner p {
	float:left;
	font-size:38px;
	line-height:58px;
	color:#fff;
	position:relative;
}
.pricing_box .price div.price_inner .dollar {
	position:absolute;
	left:0px;
	top:-4px;
	font-size:23px;
	color:#fff;
	font-weight:bold;
	line-height:30px
}
.pricing_box .price div.price_inner .price_small {
	position:absolute;
	right:-9px;
	top:-3px;
	font-size:19px;
	color:#fff;
	line-height:28px
}
.pricing_box .price div.price_inner .per_month {
	position:absolute;
	right:-18px;
	bottom:21px;
	font-size:16px;
	color:#fff;
	line-height:19px
}
.pricing_box .price div.price_inner.preferred_price {
	width:100%;/* margin-left:12px;*/
}
.pricing_box .price p {
	font-size:10px;
	text-transform:uppercase;
	float:left;
	width:100%;
	text-align:center;
	line-height:12px;
	padding:0;
	color:#fff;
	position:absolute;
	bottom:20px;
	left:0px;
}
.pricing_box .price p.per_month {
	padding:5px 0 0 0;
	width:100%;
	text-align:center
}
.pricing_box .price p.preferred_month {
	padding:5px 0 0 0;
	width:100%;
	text-align:center
}
.pricing_box .price p.exclusive_month {
	padding:5px 0 0 0;
	width:100%;
	text-align:center
}
.pricing_box p {
	float:left;
	width:262px;
	font-size:12px;
	color:#000;
	text-align:center;
	padding:8px 5px;
	min-height:30px;
	height:100%;
	line-height:30px;
}
.pricing_box p.line_h {
	line-height:15px;
}
.pricing_box p a {
	color:#000;
	text-decoration:underline
}
.pricing_box p a:hover {
	color:#000;
	text-decoration:none
}
.pricing_box p a.more {
	font-size:14px;
	color:#000;
	text-decoration:underline
}
.pricing_box p.light {
	background:#f8f7dc;
}
.classic p.light {
	background:#e8f7d1;
}
.pricing_box span.yes {
	background:url(../images/pricing/price_icon.png) no-repeat 0 3px;
	width:15px;
	height:20px;
	display:block;
	margin:0 auto;
}
.pricing_box span.no {
	background:url(../images/pricing/price_icon.png) no-repeat 0 -14px;
	width:15px;
	height:20px;
	display:block;
	margin:0 auto;
	line-height:20px;
}
.pricing_box .signup {
	float:left;
	width:100%;
	height:30px;
	padding:8px 0 3px
}
.pricing_box .signup a {
	display:block;
	margin:0 auto;
}
.pricing_box .signup a:hover {
	background-position:0 bottom;
}
.classic {
	background:#c4df9b;
}
.pricing_box.classic strong {
	padding:0 20px 0 35px!important;
	width:auto!important
}
.classic .price {
	background-position:-409px 0;
}
.preferred {
}
.preferred .price_inner p {
	background:#0c8900 !important;
}
.preferred p.light {
	background:#e2efcd;
}
.preferred .price {
	background-color:#0c8900;
}
.super {
	position: relative;
	z-index: 199; margin-left:5px;
}
.super p {
	background:#efcfaf;
}
.super .price_inner p {
	background:#d26601 !important;
}
.super p.light {
	background:#f7e7d7;
	color:#000
}
.super .price {
	background-color:#d26601;
}
.exclusive {
	margin-right:0;
	border:none
}
.exclusive p {
	background:#f6c9bd;
}
.exclusive .price_inner p {
	background:#cf1f1f !important;
}
.exclusive p.light {
	background:#fbe4de;
}
.exclusive .price {
	background-color:#cf1f1f;
}
.signup_box {
	 float: left;
    margin-left:55px;
    margin-top: 20px;
    width: auto;
}
.signup_box a {
	 border: 3px solid #fff;
    border-radius: 6px;
    box-shadow: 0 2px 2px #0559cb;
    display: block;
    min-height: 45px;
}
.signup_box a.gray_bg {
	background:#2ca3ef;
}
.signup_box a.orange_bg {
	background:#2ca3ef;
}
.signup_box a span {
	    float: left;
    font-size: 26px;
    margin-top: 0;
    padding: 5px 10px;
    width: auto;
}
.signup_box a span.green_color {
	color:#fff;
}
.signup_box a span.red_color {
	color:#fff;
}
.signup_box a span.white_color, .signup_box a small.white_color {
	color:#fff;
}
.signup_box a small {
	float:left;
	width:auto;
	font:12px/24px 'Cabin', arial;
	clear:left;
	color:#2f2f2f;
	padding-left:55px;
}
.signup_box a em {
	margin:-35px 40px 0 0px;
	display:inline-block;
	float:right;
	width:35px;
	height:35px;
}
.signup_box a em.green {
	background:url(../images/pricing/signup_gray_arrow.png) no-repeat 0 0;
}
.signup_box a em.red {
	background:url(../images/pricing/signup_gray_arrow.png) no-repeat 0 0;
}
.signup_box a em.orange {
	background:url(../images/pricing/signup_gray_arrow.png) no-repeat 0 -123px;
}
.signup_box a:hover em.green {
	background:url(../images/pricing/signup_gray_arrow.png) no-repeat 0 -36px;
}
.signup_box a:hover em.red {
	background:url(../images/pricing/signup_gray_arrow.png) no-repeat 0 -75px;
}
.signup_box a:hover em.orange {
	background:url(../images/pricing/signup_gray_arrow.png) no-repeat 0 -171px;
}
.bottom_signup {
	float:right;
	width:757px;
	border:1px solid #d4d4d4;
	border-top:none;
	border-radius:10px;
	background:url(../images/pricing/bot_sign_bg.jpg) repeat-x;
	margin-top:10px;
}
.bottom_signup p {
	float:left;
	width:100%;
	font:14px/37px arial;
	color:#3f3e3e;
	background:url(../images/pricing/exclamation.png) no-repeat scroll 4px 8px;
	text-indent:29px;
	margin-left:36px;
}
.bottom_signup p a {
	color: #AE4222;
	font-weight: bold;
}
.bottom_signup p a:hover {
	text-decoration:none;
}
.bottom_signup p span {
	color:#ae4222;
	font-weight:bold;
}
.bottom_signup p a.button {
	border-radius:7px;
	background: url(../images/pricing/free_button_bg.jpg) repeat-x #bf2d03;
	border: 1px solid #b42e06;
	color:#fff;
	padding: 2px 7px;
}
.content_bot {
	width:100%;
	float:left;
}
.content_bot h2 {
	padding:20px 0;
	font-size:20px;
}
.content_bot h5 {
	padding:10px 0 5px;
	font-size:12px;
	font-weight:bold
}
.content_bot p {
	padding: 0 0 20px
}
.content_bot p a {
	color:#DF7500;
	text-decoration:none
}
.content_bot p a:hover {
	color:#DF7500;
	text-decoration:underline
}
.content_bot .faq {
	float:left;
	width:100%;
	border-top:1px solid #dedede;
	padding:35px 0 0px;
	position:relative
}
.content_bot .faq h3 {
	background:#EFEFEF;
	color: #373737;
	font-size: 20px;
	left: 426px;
	position: absolute;
	top: -12px;
}
.content_bot .faq ul {
	float:left;
	width:275px;
}
.content_bot .faq ul.pad {
	padding:0 60px 0 0
}
.content_bot .faq ul li {
	float:left;
	width:100%;
	padding:0;
	min-height:200px;
}
.content_bot .faq ul li .que {
	float:left;
	width:100%;
	font-size:14px;
	font-weight:bold;
	color:#c93a0e;
	line-height:22px;
	padding-top: 30px;
}
.content_bot .faq ul li .ans {
	float:left;
	width:100%;
	font-size:12px;
	color:#000;
	line-height:20px;
}
.content_bot .faq ul li .ans a {
	color:#c93a0e;
	text-decoration:underline
}
.content_bot .faq ul li .ans a:hover {
	color:#c93a0e;
	text-decoration:none
}
.content_bot .customize_solu {
	float:left;
	width:990px;
	background:#eef0f1;
	padding:39px 0 30px 0;
	border-bottom:1px solid #d0d7da;
}
.content_bot .text {
	float:left;
	width:248px;
	height:100px;
	background:url(../images/pricing/pricing_bg.png) no-repeat 0 -46px;
	font-size:38px;
	font-weight:bold;
	line-height:40px;
	color:#efefef;
	padding:11px 0 0 12px;
}
.content_bot a.banner {
	float:left;
	width:auto;
	margin:0 0 0 11px;
	display:inline;
	text-decoration:none
}
.content_bot a.banner.first {
	margin:0;
}
.have_ques {
	width:100%;
	float:left;
	color:#000;
	font-size:14px;
	line-height:28px;
	text-align:center;
	padding:20px 0;
	border-top:1px solid #d0d7da;
	margin-top:20px;
}
.have_ques.contact_have_ques {
	width:auto;
	float:right;
	color:#000;
	font-size:14px;
	line-height:28px;
	text-align:center;
	padding:41px 0 0 0;
	border-top:0;
}
.have_ques a {
	color:#c93a0e;
	text-decoration:underline;
}
.have_ques a:hover {
	color:#c93a0e;
	text-decoration:none;
}
.have_ques p.phone {
	float:left;
	width:100%;
	font-size:16px;
	line-height:34px;
	font-weight:bold;
}
.have_ques p.phone a {
	width:210px;
	height:47px;
	float:left;
	background:url(../images/pricing/have_call_us.png) no-repeat left top;
	text-indent:-99999px;
	margin-left:-105px;
	left:50%;
	position:relative;
}
.have_ques.contact_have_ques p.phone a {
	width:210px;
	height:47px;
	float:left;
	background:url(../pricing/images/have_call_us.png) no-repeat left top;
	text-indent:-99999px;
	margin:0;
}
.have_ques p.phone a:hover {
	background-position:0 bottom;
}
#free_payment_gateway {
	float:left;
	width:700px;
	border:10px solid #EAEAEA;
	position:relative
}
#free_payment_gateway .cancel_btn {
	float:right;
	width:auto;
	position:absolute;
	right:-10px;
	top:-37px;
	z-index:99999
}
#free_payment_gateway table {
	float:left;
	width:100%;
	background:#fff2e2
}
#free_payment_gateway table tr {
	background:#F3F3F3;
}
#free_payment_gateway table tr td {
	text-align:center;
	font-size:12px;
	color:#000;
	padding:6px 10px;
	height:25px;
	background:#fff2e2;
}
#free_payment_gateway table tr.head {
	background:#DE7C00;
}
#free_payment_gateway table tr.head td {
	color:#fff;
	font-size:13px;
	font-weight:bold;
}
#free_payment_gateway .heading {
	float:left;
	width:98%;
	padding-left:2%;
	font-size:13px;
	line-height:34px;
	height:34px;
	text-align:left;
	color:#fff;
	font-weight:bold;
	background:#707070;
}
#payment_gateway1 {
	float:left;
	width:740px;
	border:10px solid #EAEAEA;
	position:relative
}
#payment_gateway1 .cancel_btn {
	float:right;
	width:auto;
	position:absolute;
	right:-10px;
	top:-37px;
	z-index:99999
}
#payment_gateway1 table {
	float:left;
	width:100%;
	background:#fff2e2
}
#payment_gateway1 table tr {
	background:#F3F3F3;
}
#payment_gateway1 table tr td {
	text-align:center;
	font-size:12px;
	color:#000;
	padding:6px 10px;
	height:25px;
	background:#fff2e2;
}
#payment_gateway1 table tr.head {
	background:#DE7C00;
}
#payment_gateway1 table tr.head td {
	color:#fff;
	font-size:13px;
	font-weight:bold;
}
#payment_gateway1 .heading {
	float:left;
	width:98%;
	padding-left:2%;
	font-size:13px;
	line-height:34px;
	height:34px;
	text-align:left;
	color:#fff;
	font-weight:bold;
	background:#707070;
}
.company {
	height: auto;
	padding: 0;
}
.company {
	height: auto;
	left: 50%;
	margin-left: -40px;
	overflow: hidden;
	padding-top: 10px;
	position: absolute;
	text-align: center;
	top: -95px;
	width: 80px;
	z-index: 1;
}
.pricing_box .price .sub_plan {
	font-size: 11px; color:#999999;
	height: 10px;
	line-height: 185px;
	text-transform: none;
}
.pnone {
	padding: 0;
}
.col-xs-6 {
	width: 50%;
}
.company .insurer-logo {
	margin-top: 0px;
}
.cubic-trans {
	transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1) 0s;
}
.img-responsive {
	display: block;
	height: auto;
	max-width: 100%;
}
img {
	vertical-align: middle;
}
.cmp_ul {
	font-size:11px;
	margin-left:20px;
	float:left;
	position:relative;
	margin-top: -5px;
}
.ul_t {
	float:left;
	width:100%;
	line-height:20px;
}
.pa_t {
	padding-top:30px;
}
/******Tooltip Css Starts******/
#tooltip {
	position:absolute;
	z-index:3000;
	width:auto;
	border:1px solid #DC7800;
	background-color:#fef6ed;
	padding:5px
}
#tooltip h3, #tooltip div {
	margin:0
}
.arrow_right {
	 color: #fff;
    font-size: 35px;
    font-weight: bold;
    margin-left: 7px;
    margin-right: 10px;margin-top: 7px;
}
.back_to {
	background: none repeat scroll 0 0 #c0c5c9;
	border-radius: 4px;
	height: auto;
	padding: 5px 10px;
	position: absolute;
	text-align: center;
	top: 85px;
	width: 200px;
}
.back_to a {
	color:#fff;
	font-size:14px;
}
.arrow_left {
	color: #fff;
	font-size: 17px;
	font-weight: bold;
	line-height: 18px;
	margin-right: 10px;
}
.difference {
border-radius: 4px;
    color: #000;
    height: auto;
    padding: 0;
    position: absolute;
    text-align: left;
    top: 165px;
    width: 200px;
}
.difference .checkbox{ padding-left:0px;}
.difference .checkbox label{ color:#000; font-size:12px;}
p.signup{ background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left !important;
    margin: 0 30px 0 80px !important;
    position: relative !important;
    text-align: center !important;
    top: -20px;
    width: 100px !important;}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	.buybtn{
    font-family: Arial, sans-serif;
    background:#ff8400;
    background:-webkit-gradient(linear,left top,left bottom,color-stop(#ff8400,0),color-stop(#ff6600,1));
    background:-webkit-linear-gradient(top, #ff8400 0%, #ff6600 100%);
    background:-moz-linear-gradient(top, #ff8400 0%, #ff6600 100%);
    background:-o-linear-gradient(top, #ff8400 0%, #ff6600 100%);
    background:linear-gradient(top, #ff8400 0%, #ff6600 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8400', endColorstr='#ff6600',GradientType=0 );
    padding-left:20px;
    padding-right:65px;
    height:45px;
    display:inline-block;
    position:relative;
    border:1px solid #ff5a00;
    -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
    -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
    box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
    -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
    -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
    box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    float:left;
    clear:both;
    margin:10px 0px;
    overflow:hidden;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
}

.buybtn-text{
    padding-top:10px;
    display:block;
    font-size:18px;
    white-space:nowrap;
    text-shadow:0px 1px 1px rgba(255,255,255,0.3);
    color:#6e1d08;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
}

.buybtn-hidden-text{
    position:absolute;
    height:100%;
    top:0px;
    right:52px;
    width:0px;
    background:#6e1d08;
    text-shadow:0px -1px 1px #363f49;
    color:#fff;
    font-size:18px;
    white-space:nowrap;
    text-transform:uppercase;
    text-align:left;
    text-indent:17px;
    overflow:hidden;
    line-height:42px;
    -webkit-box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
    -moz-box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
    box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
    -webkit-transition:width 0.3s linear;
    -moz-transition:width 0.3s linear;
    -o-transition:width 0.3s linear;
    transition:width 0.3s linear;
}

.buybtn-image{
    position:absolute;
    right:0px;
    top:0px;
    height:100%;
    width:52px;
    border-left:1px solid #ff5a00;
    -webkit-box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
    -moz-box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
    box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
}

.buybtn-image span{
    width:38px;
    height:38px;
    opacity:0.7;
    position:absolute;
    left:50%;
    top:50%;
    margin:-20px 0px 0px -20px;
    background:transparent url(../images/cart.png) no-repeat 75% 55%;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
}

/* Hover Style*/

.buybtn:hover .buybtn-text{
    text-shadow:0px 1px 1px #5d81ab;
    color:#fff;
}

.buybtn:hover .buybtn-hidden-text{
    width:100px;
}

.buybtn:hover .buybtn-image span{
    opacity:1;
}


/* Active Style */

.buybtn:active{
    background:#ff5a00;
}


.a_demo_four {
	background-color:#3bb3e0;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	text-decoration:none !important;
	color:#fff !important;
	position:relative;
	padding:10px 20px;
	padding-right:50px;
	background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(44,160,202)),
	color-stop(1, rgb(62,184,229))
	);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
}

.a_demo_four:active {
	top:3px;
	background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(62,184,229)),
	color-stop(1, rgb(44,160,202))
	);
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
}

.a_demo_four::before {
	background-color:#2591b4;
	background-image:url(../images/right_arrow.png);
	background-repeat:no-repeat;
	background-position:center center;
	content:"";
	width:20px;
	height:20px;
	position:absolute;
	right:15px;
	top:50%;
	margin-top:-9px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
	-moz-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
	-o-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
	box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
}

.a_demo_four:active::before {
	top:50%;
	margin-top:-12px;
	-webkit-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	-moz-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	-o-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
}
