@media (min-width:992px) {
 .mobile-toggle-trigger, .btn-navbar, .navbar-btn {
display:none
}
#jPanelMenu-menu {
display:none
}
.navbar-collapse, .navbar-collapse.collapse, .navbar-collapse.in {
display:block !important;
padding:0;
margin:0;
clear:none;
overflow-y:visible;
overflow-x:visible;
width:auto
}
.navbar-nav, #main-menu {
float:left
}
.navbar-nav>li, #main-menu>li {
float:left;
border:none
}
.navbar-nav>li.home-link, #main-menu>li.home-link {
display:block !important
}
.navbar-nav>li.home-link a, #main-menu>li.home-link a, .navbar-nav>li.home-link a:link, #main-menu>li.home-link a:link, .navbar-nav>li.home-link a:focus, #main-menu>li.home-link a:focus {
padding:0;
margin:0
}
.navbar-nav>li.home-link a i, #main-menu>li.home-link a i, .navbar-nav>li.home-link a:link i, #main-menu>li.home-link a:link i, .navbar-nav>li.home-link a:focus i, #main-menu>li.home-link a:focus i {
margin:0;
display:block;
text-align:center;
color:#55a79a;
font-size:20px;
padding:16px 20px
}
.navbar-nav>li.home-link a:hover, #main-menu>li.home-link a:hover, .navbar-nav>li.home-link a:link:hover, #main-menu>li.home-link a:link:hover, .navbar-nav>li.home-link a:focus:hover, #main-menu>li.home-link a:focus:hover {
background:transparent
}
.navbar-nav>li.home-link a:hover i, #main-menu>li.home-link a:hover i, .navbar-nav>li.home-link a:link:hover i, #main-menu>li.home-link a:link:hover i, .navbar-nav>li.home-link a:focus:hover i, #main-menu>li.home-link a:focus:hover i {
color:#fff
}
.navbar-nav>li:first-child, #main-menu>li:first-child {
border-left:none
}
.navbar-nav>li:last-child, #main-menu>li:last-child {
border-right:none
}
.navbar-nav>li>a, #main-menu>li>a {
-webkit-border-radius:0;
-moz-border-radius:0;
border-radius:0;
-webkit-box-shadow:none;
box-shadow:none;
/*-webkit-transition:all .3s ease-out;
transition:all .3s ease-out;*/
padding:0px 26px;
 margin:0;
font-size:16px;
line-height:33px;
font-weight:normal;
text-transform:none;
color:#fff;
margin-left:-1px;
border-top:0px solid transparent;
border-right:0px solid;
background: url("../images/line.jpg") no-repeat scroll right 9px rgba(0, 0, 0, 0);
}
@media screen and (-webkit-min-device-pixel-ratio:0)
{ 
.navbar-nav>li>a, #main-menu>li>a { padding:0px 25px;}
}
 .navbar-nav li a.last {
/*border-right:0px solid;
*//*background: none;*/
}
 .navbar-nav>li>a:hover, #main-menu>li>a:hover, .navbar-nav>li.active>a, #main-menu>li.active>a {
color:#000;
margin-left:-1px;
background-color:#fff;
border-color:transparent
}
.navbar-nav>li>a:hover .caret, #main-menu>li>a:hover .caret, .navbar-nav>li.active>a .caret, #main-menu>li.active>a .caret {
border-top-color:#fff
}
.navbar-nav>li>a:focus, #main-menu>li>a:focus {
background:transparent
}
.navbar-nav>li.open>.dropdown-toggle, #main-menu>li.open>.dropdown-toggle, .navbar-nav>li.open.active>.dropdown-toggle, #main-menu>li.open.active>.dropdown-toggle, .navbar-nav>li.open>.dropdown-toggle, #main-menu>li.open>.dropdown-toggle, .navbar-nav>li.open.active>.dropdown-toggle, #main-menu>li.open.active>.dropdown-toggle {
background:#fff;
color:#1b1b1b;
border-top-color:#ff6835;
border-right-color:#fff;
}
 .dropdown-menu {
margin-top:3px;
padding:8px;
-webkit-border-radius:0;
-moz-border-radius:0;
border-radius:0;
left:-401px;
margin-left:-1px;
border:none;
border-bottom:2px solid #ff6835;
min-width:250px;
color:#464646;
color:rgba(27, 27, 27, 0.8);
background:#fff;
position:absolute
}
 .dropdown-menu:before, .dropdown-menu:after {
display:none
}
.dropdown-menu li {
border-left:none;
border-right:none;
border-bottom:none;
float:none
}
.dropdown-menu li span {
display:block
}
.dropdown-menu li strong {
font-weight:bold
}
.dropdown-menu li a, .dropdown-menu li a.menu-item {
margin:0;
padding:8px 15px !important;
font-size:12px;
font-weight:normal;
text-transform:none;
-webkit-border-radius:0;
-moz-border-radius:0;
border-radius:0;
-webkit-box-shadow:0;
box-shadow:0;
background-image:-webkit-linear-gradient(top, #fff 0, #f7f7f7 100%);
background-image:linear-gradient(to bottom, #fff 0, #f7f7f7 100%);
background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff7f7f7', GradientType=0);
border-bottom:1px solid #e6e6e6;
color:#1b1b1b
}
.dropdown-menu li a:before, .dropdown-menu li a.menu-item:before {
font-family:FontAwesome;
font-size:12px;
color:rgba(27, 27, 27, 0.6);
width:30px;
height:30px;
content:"\f105";
padding-right:10px
}
.dropdown-menu li a.img-link, .dropdown-menu li a.menu-item.img-link {
padding:0;
background:#fff;
display:block
}
.dropdown-menu li a.img-link:before, .dropdown-menu li a.menu-item.img-link:before {
content:''
}
.dropdown-menu li a.img-link:hover, .dropdown-menu li a.menu-item.img-link:hover {
background:#fafafa
}
.dropdown-menu li.active>a, .dropdown-menu li.active>a:hover, .dropdown-menu li.active>a:focus, .dropdown-menu li.dropdown-submenu .dropdown-menu .active>a, .dropdown-menu li.dropdown-submenu .dropdown-menu .active>a:hover, .dropdown-menu li.dropdown-submenu .dropdown-menu .active>a:focus, .dropdown-menu li a:hover, .dropdown-menu li a.menu-item:hover {
color:#010101;
border-bottom-color:#d9d9d9;
background-image:-webkit-linear-gradient(top, #fff 0, #e6e6e6 100%);
background-image:linear-gradient(to bottom, #fff 0, #e6e6e6 100%);
background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
text-decoration:none
}
.dropdown-menu li.active>a:before, .dropdown-menu li.active>a:hover:before, .dropdown-menu li.active>a:focus:before, .dropdown-menu li.dropdown-submenu .dropdown-menu .active>a:before, .dropdown-menu li.dropdown-submenu .dropdown-menu .active>a:hover:before, .dropdown-menu li.dropdown-submenu .dropdown-menu .active>a:focus:before, .dropdown-menu li a:hover:before, .dropdown-menu li a.menu-item:hover:before {
color:#55a79a
}
.dropdown-menu [class*="col-"] {
float:left;
padding:10px
}
.menu-title, .dropdown-header, .dropdown-menu li.menu-title, .dropdown-menu li.dropdown-header, .dropdown-footer, .dropdown-menu li.dropdown-footer {
font-weight:bold;
font-size:12px;
padding:5px 10px;
margin-top:10px;
margin-bottom:5px;
border-bottom:2px solid #e6e6e6 !important;
display:block;
float:none;
color:#1b1b1b
}
.menu-title:first-child, .dropdown-header:first-child, .dropdown-menu li.menu-title:first-child, .dropdown-menu li.dropdown-header:first-child, .dropdown-footer:first-child, .dropdown-menu li.dropdown-footer:first-child {
margin-top:0
}
.dropdown-footer, .dropdown-menu li.dropdown-footer {
border:none;
border-top:2px solid #e6e6e6;
font-weight:100;
margin-bottom:0;
font-size:11px
}
.dropdown-footer:first-child, .dropdown-menu li.dropdown-footer:first-child {
margin-top:10px
}
.mega-menu .menu-title, .mega-menu .dropdown-header, .mega-menu li.menu-title, .mega-menu li.dropdown-header {
font-size:14px;
padding:10px
}
.mega-menu .dropdown-footer, .mega-menu li.dropdown-footer {
font-size:11px
}
.mega-menu {
min-width:550px;
max-width:700px
}
.dropdown-menu .dropdown-submenu {
position:relative
}
 .dropdown-menu .dropdown-submenu>.dropdown-menu {
top:0;
left:100%;
margin-top:-5px;
margin-left:10px;
padding:8px
}
.dropdown-menu .dropdown-submenu>.dropdown-menu.dropdown-menu-right {
top:0;
left:100%
}
.dropdown-menu .dropdown-submenu>.dropdown-menu.dropdown-menu-left {
top:0;
left:auto;
right:100%;
margin-left:0;
margin-right:10px
}
.dropdown-menu .dropdown-submenu>a:after {
border-color:transparent transparent #55a79a transparent
}
.dropdown-menu .dropdown-submenu.open li a, .dropdown-menu .dropdown-submenu.open li a:focus {
background-image:-webkit-linear-gradient(top, #fff 0, #f7f7f7 100%);
background-image:linear-gradient(to bottom, #fff 0, #f7f7f7 100%);
background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff7f7f7', GradientType=0);
padding:8px 15px !important;
color:#1b1b1b
}
.dropdown-menu .dropdown-submenu.open li a:hover, .dropdown-menu .dropdown-submenu.open li a:focus:hover {
background-image:-webkit-linear-gradient(top, #fff 0, #e6e6e6 100%);
background-image:linear-gradient(to bottom, #fff 0, #e6e6e6 100%);
background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
color:#010101;
border-bottom-color:#d9d9d9
}
.dropdown-menu .dropdown-submenu.open>a, .dropdown-menu .dropdown-submenu.open>a:focus, .dropdown-menu .dropdown-submenu.open>a:hover {
color:#010101;
border-bottom-color:#d9d9d9;
background-image:-webkit-linear-gradient(top, #fff 0, #e6e6e6 100%);
background-image:linear-gradient(to bottom, #fff 0, #e6e6e6 100%);
background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
text-decoration:none
}
.dropdown-menu .dropdown-submenu.open>a:before, .dropdown-menu .dropdown-submenu.open>a:focus:before, .dropdown-menu .dropdown-submenu.open>a:hover:before {
content:"\f105";
color:rgba(27, 27, 27, 0.6);
margin-left:0
}
.nav>.dropdown-right {
position:relative
}
.nav>.dropdown-full.open>a:before {
content:'';
display:inline-block;
border-left:7px solid transparent;
border-right:7px solid transparent;
border-bottom:7px solid #ccc;
border-bottom-color:rgba(0, 0, 0, 0.15);
position:absolute;
top:-7px;
left:12px
}
.nav>.dropdown-full.open>a:after {
content:'';
display:inline-block;
border-left:6px solid transparent;
border-right:6px solid transparent;
border-bottom:6px solid #fff;
position:absolute;
top:-6px;
left:13px
}
.nav>.dropdown-full.open>a:before, .nav>.dropdown-full.open>a:after {
top:auto;
bottom:-2px
}
.nav>.dropdown-full .dropdown-menu, .nav>.dropdown-full .mega-menu {
right:0;
left:0;
max-width:100%
}
.nav>.dropdown-full .dropdown-menu:before, .nav>.dropdown-full .mega-menu:before, .nav>.dropdown-full .dropdown-menu:after, .nav>.dropdown-full .mega-menu:after {
display:none
}
.nav>.dropdown-pad .dropdown-menu, .nav>.dropdown-pad .mega-menu {
padding:1em
}
.nav>.dropdown-pad .dropdown-menu li:first-child a, .nav>.dropdown-pad .mega-menu li:first-child a {
border-top:1px solid #e6e6e6
}
}
 @media (min-width:768px) {
#navigation .header {
height:auto;
margin-bottom:6px;
}
#navigation .navbar-brand, #navigation .slogan {
float:left
}
#navigation .slogan {
margin:8px 0 0 1em;
padding:17px 0 8px 1em;
border-left:0px solid #e6e6e6;
font-size:22px;
color:#000;
float:right;
text-align:right;
}
#navigation .navbar {
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px
}
#navigation .navbar-full-width .navbar {
-webkit-border-radius:0;
-moz-border-radius:0;
border-radius:0
}
#navigation .user-menu {
padding:0
}
}
 @media (max-width:1200px) {
 .navbar-nav>li>a, #main-menu>li>a {
 font-size:15px;
}
 .dropdown-menu.other {
 left: -419px;
 margin-left: -1px;
}
.dropdown-menu {
left: -415px;
}
.top_p_n{ font-size:40px;}
}
 @media (max-width:990px) {
 .dropdown-menu.other {
 left: 0px;
margin-left:20px;
margin-bottom: 10px;
}
.slicknav_nav .dropdown-menu.other {
margin-left:0px;
}
.dropdown-menu {
left: 0px;
}
.top_band {
height: auto;
}
.border {
border-right: 0px solid #34a5ef;
text-align: center;
}
.col-md-5.noborder{ width:400px; position:relative; left:50%; margin-left:-200px;}
.top_h_t {text-align: center !important;}
}
 @media screen and (max-width: 990px) {
	 .fa.fa-sort-desc.po {
display:none
}
 .center h3 {
font-size: 27px !important;
}
.center.no-margin h3 {
margin-bottom:30px;
}

}
 @media screen and (max-width: 768px) {
 .desk_cal {
display:none;
}
.mob_cal {
display:block;
}
 .center h3 {
font-size: 20px !important;
line-height:35px;
}
.center.no-margin h3 {
margin-bottom:20px;
margin-top: 0px;
}
}
@media screen and (max-width: 1200px) {
 .subfooter ul {
margin:0px;
}
 .subfooter .list-inline > li {
 margin-left: 0;
}
.one_fourth.a{ width:18%;}
.one_fourth.b{ width:27%;}
.one_fourth.c{ width:27%;}
.one_fourth.d{ width:21%;}
.one_fourth, .one_half, .three_fourth{ margin-right:16px;}
}
 @media screen and (max-width: 700px) {
#highlighted .container .col-md-12, #highlighted .container .col-md-11 {
padding:0px !important;
}
h1.col-md-11 {
margin-top:10px;
}
 .center h3 {
font-size: 20px !important;
line-height:45px;
margin-top: 0px;
}
.choice .years li {
line-height: 22px;
}
#c_ch {
left: 50% !important;
width: 205px;
display: block;
margin-left: -104px;
top: 50%;
margin-top: -100px;
}
#c_ch_l {
left: 50% !important;
max-width: 350px;
width: 400px;
display: block;
margin-left: -278px;
}
.m_h {
float:left;
text-align:center;
width:100%;
}
#clickk_f {
position: relative;
width: 100%;
float: left;
}
.choice.g {
left: 50% !important;
margin-left:-60px;
}
}
 @media screen and (max-width: 480px) {
	 .top_p_n{ font-size:30px;}
	 .col-md-5.noborder{ width:300px; margin-left:-150px;}

.ui-state-default.ui-autocomplete-input {
 width:auto !important;
}
 #c_ch_l {
max-width: 250px !important;
margin-left: -125px;
position: absolute;
width: 250px !important;
}
 #clickk_l {
position: relative;
float: left;
width: 100%;
text-align: center;
margin-bottom: 10px;
}
}
 @media only screen and (max-width:799px) {
 .block.clients .carousel-wrapper,  .block.portfolio .carousel-wrapper {
 margin-right: 60px;
 margin-left: 60px;
}
 .cen {
text-align:left;
}
 .pos {
left:50%;
margin-left:-50%;
}
 .left80 {
margin-left:0px;
}
 .slideshow .nivo-directionNav a,  html * .slideshow .ls-nav-prev,  html * .slideshow .ls-nav-next,  .block.clients .prev,  .block.clients .next,  .block.portfolio .prev,  .block.portfolio .next {
 position: absolute;
 top: 0;
 overflow: hidden;
 font-size: 0;
 width: 30px;
 height: 100%;
 text-indent: 30px;
 background: none;
 text-decoration: none;
}
 .block.portfolio .prev,  .block.portfolio .next {
 height: 270px;
}
 html * .slideshow .ls-nav-prev,  html * .slideshow .ls-nav-next {
 height: 30px;
 top: 50%;
 margin-top: -15px;
}
 .slideshow .nivo-directionNav a.nivo-nextNav:before,  .slideshow .nivo-directionNav a.nivo-prevNav:before,  html * .slideshow .ls-nav-prev:before,  html * .slideshow .ls-nav-next:before,  .block.clients .prev:before,  .block.clients .next:before,  .block.portfolio .prev:before,  .block.portfolio .next:before {
 position: absolute;
 left: 0;
 top: 50%;
 font-family: 'FontAwesome';
 font-weight: normal;
 text-align: left;
 text-indent: 0;
 font-size: 16px;
 line-height: 28px;
 width: 28px;
 margin-top: -15px;
 border-radius: 15px;
 -moz-border-radius: 15px;
 -webkit-border-radius: 15x;
 text-align: center;
}
 .slideshow .nivo-directionNav a.nivo-nextNav:before,  .slideshow .nivo-directionNav a.nivo-prevNav:before,  html * .slideshow .ls-nav-prev:before,  html * .slideshow .ls-nav-next:before {
 border-color: transparent;
 color: transparent;
}
 .slideshow .nivo-directionNav a.nivo-prevNav:before,  html * .slideshow .ls-nav-prev:before,  .block.clients .prev:before,  .block.portfolio .prev:before {
 content: '\f060';
}
 .slideshow .nivo-directionNav a.nivo-nextNav:before,  html * .slideshow .ls-nav-next:before,  .block.clients .next:before,  .block.portfolio .next:before {
 content: '\f061';
 text-indent: 6px;
}
 .slideshow .nivo-directionNav a.nivo-prevNav,  html * .slideshow .ls-nav-prev {
 left: 15px;
}
 .slideshow .nivo-directionNav a.nivo-nextNav,  html * .slideshow .ls-nav-next {
 right: 15px;
}
 .block.clients .prev {
 left: -45px;
}
 .block.clients .next {
 right: -45px;
}
 .block.portfolio .prev {
 left: -45px;
}
 .block.portfolio .next {
 right: -45px;
}
}
html * .ls-container .ls-nav-prev:before, html * .ls-container .ls-nav-next:before, .block.clients .prev:before, .block.clients .next:before, .block.portfolio .prev:before, .block.portfolio .next:before {
	border-color: #c5c6c6;
	color: #c5c6c6;
}
 @media only screen and (max-width: 799px) {
.slideshow .nivo-directionNav a.nivo-prevNav:before, html * .slideshow .ls-nav-prev:before, .block.clients .prev:before, .block.portfolio .prev:before {
content: '\f060';
}
}
 @media only screen and (max-width: 799px) {
.slideshow .nivo-directionNav a.nivo-nextNav:before, .slideshow .nivo-directionNav a.nivo-prevNav:before, html * .slideshow .ls-nav-prev:before, html * .slideshow .ls-nav-next:before, .block.clients .prev:before, .block.clients .next:before, .block.portfolio .prev:before, .block.portfolio .next:before {
position: absolute;
left: 0;
top: 50%;
font-family: 'FontAwesome';
font-weight: normal;
text-align: left;
text-indent: 0;
font-size: 16px;
line-height: 28px;
width: 28px;
margin-top: -15px;
border-radius: 15px;
-moz-border-radius: 15px;
-webkit-border-radius: 15x;
text-align: center;
}
}
@media screen and (min-width: 480px) and (max-width: 719px) {
 .one_fourth, .one_third, .one_half, .two_third, .three_fourth {
margin-right:0;
}
 .one_fourth {
width:100%;
}
 .one_third {
width:100%;
}
 .one_half {
width:100%;
}
 .two_third {
width:100%;
}
 .three_fourth {
width:100%;
}
 .full_width {
width:100%;
}
 .service {
 margin:0px;
}
 #feature-pannels li .info {
max-width:100%;
}
}
	
/* Mobile Screen ( smaller than 480px )*/
@media screen and (max-width: 480px) {
 .one_fourth, .one_third, .one_half, .two_third, .three_fourth {
margin-right:0;
}
 .one_fourth {
width:100%;
}
 .one_third {
width:100%;
}
 .one_half {
width:100%;
}
 .two_third {
width:100%;
}
 .three_fourth {
width:100%;
}
 .full_width {
width:100%;
}
 .service {
 margin:0px;
}
 .node-2 p strong {
color: #ff6102;
font-size: 20px;
font-weight: normal;
line-height: 35px;
}
.node-2 p strong:after {
 padding-bottom: 20px;
}
.service {
float: left;
width: 33.33%;
}
}
 @media (min-device-width : 480px) {
}
@media (min-width: 768px) {
  /* Small devices (tablets, 768px and up) */
    .font-mus {
font-size:30px;
}
 .fh1 {
font-size:20px;
}
 .service {
float:left;
}
}
@media screen and (max-width: 767px) {
  /* Small devices (tablets, 768px and up) */
    .font-mus {
font-size:30px;
}
 .fh1 {
font-size:20px;
}
 #footer {
display:none;
}
}
@media (min-width: 992px) {
  /* Medium devices (desktops, 992px and up) */
  .font-mus {
font-size:35px;
}
 .fh1 {
font-size:20px;
}
 .service {
float:left;
}
}
@media screen and (max-width: 992px) {
#footer {
display:none;
}
}
@media (min-width: 1200px) {
  /* Large devices (large desktops, 1200px and up) */
  .font-mus {
font-size:40px;
}
 .fh1 {
font-size:25px;
}
 .service {
float:left;
}
}
 @media screen and (max-width: 1200px) {
  /* Large devices (large desktops, 1200px and up) */
.navbar-nav>li>a, #main-menu>li>a {
 padding: 0px 15px;
}
 .service {
float: left;
margin: 0px 24px 0px 0px;
}
}
 @-moz-document url-prefix() {
 .widget img.img_t {
height: 124px;
margin-top: 17px;
width: 200px;
}
}
@media screen and (max-width: 1199px) {
.widget img.img_t {
height: 162px;
margin-top: 37px;
width: 200px;
}
 .center h1 {
font-size:44px !important;
}
 @-moz-document url-prefix() {
 .widget img.img_t {
 height: 165px;
 margin-top: 37px;
 width: 220px;
}
}
}
@media screen and (max-width: 990px) {
 .col-md-12.no_pad_l {
margin-top:0px !important
}
 .center h1 {
font-size:35px !important;
}
 .subfooter ul {
margin:0px;
}
 .widget img.img_t {
height: 100%;
margin-top: 0px;
width: 100%;
}
.one_fourth,.one_fourth.a,.one_fourth.b,.one_fourth.c,.one_fourth.d {
width: 47.5%;
}
.one_fourth, .one_half, .three_fourth {
margin-right: 2.5%;
}
 .col-md-4.mar-25, .col-md-6.mar-25 {
float:left;
}
  /* Large devices (large desktops, 1200px and up) */
  .icon.ipad {
display:none
}
 .groupList {
display:block;
}
 .col-md-12.no_pad_l {
padding:0;
}
.col-md-9.pad-30_a.no_pad_l, .container.mar-20.ce .col-md-3 {
text-align:center;
display:none;
}
.mar-30.fh1 {
margin-top:30px;
}
.service {
float: left;
width: 20%;
margin: 0;
}
.slogan.col-md-8 {
display:none;
}
.mdslo {
color: #FFFFFF;
 display: block;
 float: left;
 opacity: 1;
 padding: 10px 0;
 position: relative;
 width:85%;
 z-index: 1;
}
#navigation .navbar-brand {
text-align:left;
}
 .mds {
display:block;
margin:-10px 0px 15px 0px;
padding:0;
text-align:left;
}
.mdn {
display:none;
}
 .art_cnt.widget.video {
width:50%;
}
#feature-pannels li .circle-area, #feature-pannels li .info {
float: none;
max-width: 100%;
text-align: center;
font-size: 1.111em;
}
#feature-pannels li {
float: left;
width: 100%;
}
.fa.fa-sort-asc.po {
display:none;
}
.navbar, .full-width {
background:#2ca3ef;
}
}
 @media screen and (max-width: 600px) {
 .service {
float: left;
width: 33.33%;
margin: 0;
}
}
@media screen and (max-width: 700px) {
 .art_cnt.widget.video {
width:80%;
}
 .one_fourth,.one_fourth.a,.one_fourth.b,.one_fourth.c,.one_fourth.d {
width:100%;
}
}
 @media screen and (max-width: 740px) {
.center h1 {
font-size:28px !important;
}
}
 @media screen and (max-width: 600px) {
.service {
width: 33.33%;
}
}
@media screen and (max-width: 362px) {
.service {
width: 50%;
}
.mdslo {
 font-size: 10px;
 padding: 13px 0;
 width: 70%;
}
}
 @media screen and (max-width: 480px) {
 .mdslo {
 font-size: 10px;
 padding: 13px 0;
 width: 70%;
}
.center h1 {
font-size:20px !important;
}
 .center p {
font-size: 13px !important;
text-align: center;
padding-left: 0px !important;
}
}
 @media screen and (max-width: 430px) {
 .meta-comments {
 margin-left:0px !important;
}

}

@media screen and (max-width:331px) {
.slicknav_btn {
margin-top:5px !important;
}
}
/*
 * --------------------------------------------------
 * 4. Misc
 * Other stuff
 *--------------------------------------------------
 */


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
 .font-mus {
font-size:20px;
}
 .fh1 {
font-size:15px;
}
 .mar-30 {
margin-top:20px;
}
 h3.mar-30.mds {
margin-top:0px;
}
.mar-20 {
margin-top:20px;
}
.pad-30 {
padding-left:10px;
}
#feature-pannels li .info {
max-width:100%;
}
.mdslo {
 font-size: 10px;
 padding: 13px 0;
 width: 70%;
}
.node-2 p strong {
color: #ff6102;
font-size: 20px;
font-weight: normal;
line-height: 35px;
}
}

@media screen and (max-width: 585px) and (min-width: 541px) {
.choice .choice-leftcol {
width:35% !important
}
}
@media screen and (max-width:820px) {
.cus_cont{ width:380px; margin:0px auto;}
.cus_cont .col-md-2{ width:190px; float:left;}
	
}

@media screen and (max-width:400px) {
.cus_cont{ width:100%; margin:0px auto;}
.cus_cont .col-md-2{ width:100%; float:left; padding:0;}
.cus_cont p {
	text-align:left;
}
#one_c, #two_c, #three_c, #four_c,#adlt_spc {
    float: left;
    width: 100%;margin-top: 10px;
}
.input.form-control{ margin-bottom:0px;}
	
}

@media screen and (max-width:480px) {
.cus_cont{ width:100%; margin:0px auto;}
.cus_cont .col-md-2{ width:100%; float:left; padding:0;}
.cus_cont p {
	text-align:left;
}
#one_c, #two_c, #three_c, #four_c,#adlt_spc {
    float: left;
    width: 100%;margin-top: 10px;
}
.input.form-control{ margin-bottom:0px;}
	
}












/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
