/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h3 {
	font-size:16px;
	font-weight:bold;
	color:#333;
	margin-bottom:5px;
}
.left {
	float:left
}
.right {
	float:right
}
.clear {
	clear:both;
	line-height:1
}
:focus {    outline: none;}
::-moz-selection {    text-shadow: none;}

a.uploading, a.noneunderline {
	text-decoration:none
	}
.btclass {  
    background: none repeat scroll 0 0 #FF7E31;
    border: 1px solid #A94A01;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 12px;
    padding: 6px 15px 6px;
    
    }
.btactiveclass {  
    background: none repeat scroll 0 0 #549c95;
    border: 1px solid #417b75;
    border-radius: 2px 2px 2px 2px;
    color: #000;
    cursor: pointer;
    text-decoration:none;
    font-size: 12px;
    padding: 6px 15px 6px;
    color: white;
text-shadow: 1px 1px 1px #444;
}    
.btinactiveclass {  
    background: none repeat scroll 0 0 #bbbbbb;
    border: 1px solid #949494;
    border-radius: 2px 2px 2px 2px;
    text-decoration:none;
    color: #000;
    cursor: pointer;
    font-size: 12px;
    padding: 6px 15px;
    font-width:bold;

}
.btgreenclass {  
    background: none repeat scroll 0 0 #0a897d;
    border: 1px solid #0c6a61;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 12px;
    padding: 6px 15px;
    text-shadow: 0 1px 0 #0c6a61;
    }

@media (max-width:980px) {
.mainwrpper {
width: 100%;
}
.viewgalleybig a.linkphoto img{
	max-height: 235px;
	max-width:350px;
	border:3px solid #fff;
}
.viewgalleybig	a .biglinkphoto {
	
	height: 235px;
	width:350px;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}	
}
@media (min-width:980px) {
.mainwrpper {
	width: 92%;
	margin:0 auto;
	border: 1px solid #CCC;
	box-shadow: 0 0 15px #888;
}
.viewgalleybig a.linkphoto img{
	max-height: 348px;
	max-width:518px;
	border:3px solid #fff;
}
.viewgalleybig	a .biglinkphoto {
	
	height: 348px;
	width:518px;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}
}


.header {
	width:100%;
	height:120px;
	position:relative;
	background:#e7e8ea;
}
.header .logo{
	float:right;
	margin:5px 5px 0 0;
}
.header .dmg {
	width:258px;
	margin-left:-129px;
	left:50%;
	margin-top:20px;
	position:absolute
	
}
.header .line{
	height: 23px;
	background: #03776C;
	position: absolute;
	bottom: 0;
	width: 100%;
}
.header .line .hrlightgreen{
	width:201px;
	height:23px;
	background:#01a491
}
.header .viewgallery {
	float: left;
	margin: 60px 0 0 5px;
}
.header .welcomename {
	right: 10px;
	position: absolute;
	font-size: 13px;
	bottom: 28px;
}
.header .viewgallery input[type="submit"] {
	padding:5px 15px;
	font-weight:bold
}

.midpage {
	padding:0;
	background:url(../images/bgright.jpg) repeat-y #ccc;
	overflow:auto;
}
.innercont {
	float: left;
	width: 100%;
	
}
a.viewbutton {
	background: none repeat scroll 0 0 #0da596;
	border: 1px solid #097f73;
	color: white;
	cursor: pointer;
	text-shadow: 0 1px 0 #097f73;
	text-decoration:none;
	display:inline-block;
	padding: 12px;
	font-size: 16px;
	font-weight: bold;
}
a:hover.viewbutton {
	box-shadow:none;
	background: none repeat scroll 0 0 #0d9285;
}
a.createjob {
	background: none repeat scroll 0 0 #FF7E31;
	border: 1px solid #A94A01;
	color: white;
	cursor: pointer;
	font-size: 12px;
	padding: 6px 15px 6px;
	text-shadow: 0 1px 0 #A94A01;
	text-decoration:none;
	display:inline-block;
	/*padding: 5px 10px;
	background: #CCC;
	display: block;
	border-radius: 5px;
	font-size: 13px;
	color: black;
	border: 1px solid #BBB;
	text-decoration:none;
	text-shadow: 1px 1px 1px #F4F4F4;*/
	box-shadow: 1px 1px 3px #999;
}
a:hover.createjob {
	box-shadow:none
}

.pagecontent {
/*	margin-left: 200px;*/
	margin: 15px 15px 15px 215px;
	background:#e7e8ea;
	padding:10px;
	min-height:400px;
}

.leftnav {
	float: left;
	width: 184px;
	margin-left: -100%;
	padding: 8px 8px 20px 8px;
}

input[type="text"]{
	border:0;
	padding:5px;
	width:174px;
}
.selectbox {
	padding:5px;
	background:#fff
}
.selectbox select {
	width:174px;
	padding:5px;
	border:1px solid #999;
	font-size:14px;
	margin-bottom:6px;
}
.date input[type="text"] {
	width:140px;
}
.searchwith {
	display: block;
	margin: 10px 0 5px 0;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
}
.date {
	padding: 3px;
	background: #CCC;
	height: 30px;
	margin: 5px 0;
}

.footer .line{
	height: 23px;
	background: #03776C;
	width: 100%;
}
.footer .line .hrlightgreen{
	width:201px;
	height:23px;
	background:#01a491
}

div.form .errorMessage {
  color:red;
  font-size:0.9em;
  margin:2px 0;
  text-transform:capitalize;
}


/* Default Browser label Starts */
.content_wrap .form label{
	width:150px;
	}
/* Default Browser label Ends */
.error_wrap{
	text-align:center;
	color:#000;
	}
.error_wrap h2 b{
	font-size:13px;
	font-weight:bold;
	vertical-align:top;
	display:inline-block;
	padding:15px 0px 0 0;
	}
.error_wrap h2 span{
	font-size:80px;
	}
.error_wrap .error_text{
	font-size:13px;
	font-weight:bold;
	color:#990000;
}div.form span.required, .row label span.required {
    color: red;
    text-shadow: none;
}
.content_wrap .form label {
    width: 150px;
}
.row label {
    color: #333333;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 3px 0 0;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: capitalize;
}

.row input[type="submit"], .unassign_wrap a {
    box-shadow: 0 1px 0 0 #FBAB7B inset;
}

.submit input, .button input, .buttons input, .unassign_wrap a {
    border-radius: 0 0 0 0;
    font-size: 14px;
    margin: 0 15px 0 0;
    padding: 3px 25px 5px;
    width: auto;
}
.login_wrap form .submit input, .submit input, .button input, .buttons input {
    background: none repeat scroll 0 0 #FF7E31;
    border: 1px solid #A94A01;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 12px;
    padding: 6px 15px !important;
    text-shadow: 0 1px 0 #A94A01;
	border-radius: 2px !important;
}

.info {
    color: #629A39;
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 5px;
    text-align: center;
}

div.wide.form .row {
    clear: left;
}
div.form .row, form .row {
    margin: 5px 0;
}
div.form .row, form .row {
    margin: 5px 0;
}

div.wide.form label {
    float: left;
    margin-right: 10px;
    position: relative;
    text-align: right;
    width: 100px;
}
.row label {
    color: #333333;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 3px 0 0;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: capitalize;
}
.row textarea {
    min-height: 120px;
}
input[type="file"] {
    background: none repeat scroll 0 0 #CCCCCC !important;
    border: 0 none;
}

th, td, caption {
    padding: 4px 10px 4px 5px;
}
th {
    font-weight: bold;
}
caption, th, td {
    font-weight: normal;
    text-align: left;
}
.row input[type="submit"], .unassign_wrap a {
    box-shadow: 0 1px 0 0 #FBAB7B inset;
}
.row input[type="button"], .unassign_wrap a {
    box-shadow: 0 1px 0 0 #FBAB7B inset;
}
.submit input, .button input, .buttons input, .unassign_wrap a {
    border-radius: 0 0 0 0;
    font-size: 14px;
    margin: 1px 15px 1px 1px;
    padding: 3px 25px 5px;
    width: auto;
}


/* view gallery css start*/
.viewgalley {
	margin:0;
	padding: 0;

}
.viewgalley a.linkphoto{
	
	float:left;
	margin:8px;
	padding: 10px;
	background: #ccc;
	border:1px solid #b5b5b5;
	-moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
   text-decoration: none;
   box-shadow:0 0 5px #999
  
	}
	
.viewgalley a:hover.linkphoto{
	-moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
	-webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.21);
	-o-transform: scale(1.1);
	position: relative;
	z-index:9999;
	cursor:pointer
	}
.viewgalley a.linkphoto span {
    clear: both;
    color: #000000;
    display: block;
    margin: 10px 0 0;
   

	}
.viewgalley a.linkphoto img{
	height: 103px;
	width:154px;
	float:left;
	border:3px solid #fff;
}	
/* end view gallery */


/* view details page gallery css start*/
.viewgalleybig {
	margin:0;
	padding: 0;

}
.viewgalleybig a.linkphoto{
	display:inline-block;
	margin:10px 0;
	padding: 10px;
	background: #ccc;
	border:1px solid #b5b5b5;
	-moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
   text-decoration: none;
   box-shadow:0 0 5px #999
  
	}


.viewgalleybig  span {
    clear: both;
    color: #333;
	text-align:center;
	display: block;
	margin: 10px 0 0;
	font-weight: bold;
	font-size: 12px;
	text-shadow: 1px 1px 1px #F4F4F4;
   

	}
	
/* end view details page gallery */



a.update-states {
    border: 2px solid #B18D43;
}
.back{
	background-image:url("../images/back-button.png");
	background-position:top center;
	background-color:transparent;
	width:115px;
	height:26px;
	text-shadow:0 1px 0 #00403c;
	padding:0 0 0 20px;
	border:none;
	cursor:pointer;
	color:#FFF;
	opacity:0.9;
	float:right;
	font-size: 12px;
}

/* start details-container */
.details-container {
	float:right;
	width:270px;
}
.details-container .boxdetails h3{
	background: #03776C;
	color: white;
	padding: 8px 15px;
	font-weight:normal;
	margin:0
	
}
.details-container .boxdetails {
	background:#fff;
	margin-bottom:15px;
	box-shadow: 0 0 5px silver;
}
.details-container .boxdetails .contbox {
	padding:8px 15px;
	height:130px;
	overflow-y: scroll;
	border: 1px solid #CCC;
}
/* end details-container */

.instruction {
    color: blue;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 3px 0 0;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: none;
}
strong, dfn {
    font-weight: bold;
}


/* Photo wrap Starts */
.photo_upload_buttons_container{
	margin:10px 0
	}

#divFileProgressContainer {
    border: medium none;
    margin: 0 0 0 10px;
    padding: 0;
}
.select_job label{
	vertical-align:text-top;
	}
.photo_wrap .checkall{
	margin:5px 0;
	display:block
	}
.photo_upload_buttons_container .button input{
	padding:3px 10px 5px
	}
.photo_wrap ul.photo_list_wrap{
	margin:0;
	padding:0
	}
.photo_wrap ul.photo_list_wrap li.photothumb_list {
    border: 1px solid #DADADA;
    box-shadow: 0 0 4px #777777;
    display: inline-block;
    margin: 0 15px 15px 0;
    min-height:210px;
    overflow: hidden;
    padding: 5px;
    position: relative;
    vertical-align: top;
    width: 200px;
}
.photo_wrap ul.photo_list_wrap li.photothumb_list:hover{
	background:#EDEDED;
	}
.photo_wrap ul.photo_list_wrap li.photothumb_list .image_thumb_wrap {
    float: left;
}
.photo_wrap ul.photo_list_wrap li.photothumb_list .image_thumb_wrap img {
    width: 100%;
}
.photo_wrap ul.photo_list_wrap li.photothumb_list .option_wrap {
    bottom: 0;
    color: #000000;
    display: block;
    float: left;
    overflow: hidden;
    position: absolute;
    width: 200px;
}
.photo_wrap ul.photo_list_wrap li.photothumb_list .option_wrap .section {
    margin: 0 0 5px;
    overflow: hidden;
	background:none;
	border:none;
	padding:0;
	border-radius:0;
}
.photo_wrap ul.photo_list_wrap li.photothumb_list .section1 label, .photo_wrap ul.photo_list_wrap li.photothumb_list .section2 label {
    float: left;
    width: 60px;
}
.photo_wrap ul.photo_list_wrap li.photothumb_list .section3 .default {
    float: left;
}
.photo_wrap ul.photo_list_wrap li.photothumb_list .section3 .delete {
    float: right;
}
.photo_wrap ul.photo_list_wrap li.photothumb_list .section3 .default input, .photo_wrap ul.photo_list_wrap li.photothumb_list .section3 .delete input {
    margin: 0;
}	
	
/* Photo wrap Ends */


/* Certificate Starts */
.certificate_wrap{
	display:block;
	overflow:hidden;
	}
	
.certificate_wrap ul.certificate_list_wrap{
	overflow:hidden;
	display:inline;
	list-style:none;
	margin:0;
	padding:0
	}
.certificate_wrap ul.certificate_list_wrap li div{
	border: 1px solid #DADADA;
	display: inline-block;
    margin: 0 5px 5px 0;
    overflow: hidden;
    padding: 5px;
    position: relative;
    vertical-align: top;
    width: 198.1px;
    height: 250px;
	}
.certificate_wrap #divFileProgressContainer{
	width:100%;
	display:block;
	overflow:hidden;
	margin:0
	}
#error_message{
	color:red;
	text-align:center;
	display:block;
	font-weight:bold;
	margin:0 0 5px;
	}
/* Certificate Ends */

input[type="text"] {
	border: 1px solid #DADADA;
}

.photoUpload{
width:192px;
height:100px;
}